.primaryMenu {
    display: flex;
    justify-content: space-between;

    &__link {
        text-decoration: none;
        color: white;

        &:hover {
            color: limegreen;
        }
    }
}